.Tile-Container {
  box-sizing: border-box;
  border: 1px solid #eaeaea;
  padding: 20px;
  width: 100%;
  min-height: 230px;
  max-height: 270px;
  margin-bottom: 25px;
  background: white;
  list-style: none;
  -webkit-box-shadow: 5px 5px 5px -7px rgba(102,102,102,1);
  -moz-box-shadow: 5px 5px 5px -7px rgba(102,102,102,1);
  box-shadow: 5px 5px 5px -7px rgba(102,102,102,1);

  &:hover {
    border-color: #c8c8c8;
  }

  .Tile-Header {
    display: flex;
    margin-bottom: 20px;

    .Tile-Title-Container {

      .Tile-Header-Title {
        font-weight: bold;
        font-size: 1.1rem;
        letter-spacing: 1px;
        margin-bottom: 10px;
        
        a { text-decoration: none; color: black; }

        a:visited { text-decoration: none; color:black; }
        a:hover { text-decoration: none; color:black; }
        a:focus { text-decoration: none; color:black; }
        a:hover, a:active { text-decoration: none; color:#c8c8c8 }
      }

      .Tile-Header-Below-Title-Text {
        color: gray;
        font-size: .8rem;
      }
        
      .Tile-Header-Owner {
        @extend .Tile-Header-Below-Title-Text;
        margin-bottom: 2px;
      }

      .Tile-Header-LastUpdated {
        @extend .Tile-Header-Below-Title-Text;
      }
    }

    .Tile-Header-Interactable-Icons-Container {
      margin-left: auto;
      display: flex;

      .Tile-Header-Icon {
        font-size: .9rem;
        align-self: flex-end;
        padding-left: 10px;
        padding: 0;
        margin: 0;
        
        &:hover {
          cursor: pointer;
        }
      }

      .Tile-Header-Favorite-Icon {
        @extend .Tile-Header-Icon;
        margin-bottom: -10px;
      }

      .Tile-Header-Share-Icon {
        @extend .Tile-Header-Icon;
        margin-bottom: -10px;
      }

      .Tile-Header-Like-Icon {
        @extend .Tile-Header-Icon;
        margin-left: 8px;
      }
    }
  }

  .Tile-Content {
    display: flex;

    .Tile-Content-Thumbnail {
      margin-right: 25px;
      min-width: 200px;

      img {
        max-width: 100%;
        width: auto;
        height: auto;
        max-height: 140px;
      }
    }

    .Tile-Content-Info {
      flex: 1;
      font-size: .9rem;
      display: flex;
      flex-direction: column;

      .Tile-Content-Description {
        flex: 1;
      }

      .Tile-Content-Metatags {
        flex: 1;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .Tile-MetaTag {
          padding: 2px 8px;
          background:#F5F5F5;
          width: auto;
          height: 20px;
          margin-right: 10px;
        }
      }
    }
  }
}
     
  
