.resultContainer {
  padding: 0 !important;
  display: flex;
  flex-direction: column;

  .visualizationTechnologyIcon {
    height: 24px;
    display: inline-block;
    vertical-align: middle;
  }

  .itemLink {
    text-decoration: none;
    display: inline-block;
  }

  .itemSelected {
    & * {
      color: #398bcc;
    }
  }

  .itemUnselected {
    & * {
      color: #909090;
    }
  }

  .itemTitle, .itemTitle a {
    font-weight: 400;
    font-size: 1.3em;
    color: #666;
    margin: .5em 1em .25em 1em;
    display:flex;  
    line-height:24px;
    height:48px;
    overflow:hidden;
    align-items:center;
  }

  .featuredCard {
   background-color: rgba(255, 255, 255, 1);
  }

  .likeFaveButtons {
    margin: 0 0 .5em .75em;
  }

  .linkItem {
    cursor: pointer;
    margin-left:.1em;
  }

  .likeFavContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: auto;
    height: auto;
    box-sizing: border-box;
    align-items: center;
    font-size:.9em;

      span span {
        display: flex;
        align-items: center;
      }
  }

  li.resultItem {
    display: block;
    list-style: none;

      .tile-class {
        display: flex;
        height: 160px;
        margin-bottom:1em;
        padding-left: 0 !important;
        padding-right: 1em !important;
      }
 
  }

    .ms-dialogMainOverride {
      width: 400px;
      max-width: 1000px;
    }


  li.ms-ListItem.ms-ListItem--document {
    list-style: none;
}

}
