.resultContainer {
  .visualizationTechnologyIcon {
    height: 24px;
    display: inline-block;
    vertical-align: middle;
  }

  .itemLink {
    text-decoration: none;
    display: inline-block;
  }

  .itemTitle {
    font-weight: 700;
    font-size: larger;
  }

  .featuredCard {
    background-color: rgba(173, 216, 230, .2);
  }

  .likeFaveButtons {
    position: absolute;
    right: .5em;
    bottom: -.25em;
    margin: 0 .1em;
  }

  li.resultItem {
    display: block;

    .imageContainer {
      height: 100px;
      width: 78px;
      display: flex;
      justify-content: center;
      flex-direction: column;

      >img {
        max-width: 78px;
        max-height: 48px;
        margin: auto 0;
        width: auto;
        height: auto;
      }
    }
  }
}
