 @mixin breakpoint($point) {
   @if $point == largenotxl {
     @media (min-width: 768px) and (max-width: 1160px) { @content ; }
  }
   @else if $point == laptop {
     @media (min-width: 64em) { @content ; }
  }
    @else if $point == tablet {
     @media (min-width: 50em) { @content ; }
  }
   @else if $point == phablet {
     @media (min-width: 37.5em)  { @content ; }
  }
  @else if $point == mobileonly {
     @media (max-width: 37.5em)  { @content ; }

  }
}


@mixin bootstrap-div--nopadding() {
  padding: 0 !important;
}