
.template_root {
    @import '~office-ui-fabric-core/dist/sass/Fabric.scss';
    // @import '~office-ui-fabric-core/dist/components/Label/Label.scss';
    // @import '~office-ui-fabric-core/dist/components/List/List.scss';
    // @import '~office-ui-fabric-core/dist/components/ListItem/ListItem.scss';
    @import '~@microsoft/sp-office-ui-fabric-core/dist/sass/FabricCore.scss';
    
    .template_defaultList {
    
        strong {
            color: "[theme: themePrimary, default: #005a9e]";
        }
    }

    .template_promotedResults {
        border: 1px solid #eaeaea;
        list-style: none;
        padding: 15px;
        margin-bottom: 15px;
    
        .title {
            margin-bottom: 15px;
        }
        
        li {
            display: flex;
            white-space: normal;
        }
    
        i {
            padding-right: 10px;
            padding-left: 10px;
        }
    }
    
    .template_defaultCard {
        .singleCard {
            //margin: 10px;
            border: 1px solid #eaeaea;
            min-height: 170px;
            display: flex;
            .previewImg {
                width: 30%;
                //height: 111px;
                //background-size: cover;
                position: relative;
                //border-bottom: 1px solid #eaeaea;
                background-repeat: no-repeat;
                background-size: contain;
                //border:1px solid #ddd;
                //width: 12em;
                height: -webkit-fill-available;
                background-position: top;
                //display: flex;
                //margin: 1em;
            }
            .cardInfo {
                padding-left: 10px;
                padding-right: 10px;
            }
            .cardFileIcon {
                left: 10px;
                bottom: 8px;
                position: absolute;
            }
        }
        .singleCard:hover {
            border-color: #c8c8c8;
            cursor: pointer;
        }
    }
    
    .template_resultCount {
        padding-left: 10px;
        margin-bottom: 10px;
    }

    .datamkt-right {
        width: 40% !important;
        margin: 1em !important;
      }
      
      .datamkt-sub {
        margin: 1em !important;
        display: flex !important;
      } 
      
}