
.template_root {
    @import '~office-ui-fabric-core/dist/sass/Fabric.scss';
    // @import '~office-ui-fabric-core/dist/components/Label/Label.scss';
    // @import '~office-ui-fabric-core/dist/components/List/List.scss';
    // @import '~office-ui-fabric-core/dist/components/ListItem/ListItem.scss';
    @import '~@microsoft/sp-office-ui-fabric-core/dist/sass/FabricCore.scss';
    
    .template_defaultList {
    
        strong {
            color: "[theme: themePrimary, default: #005a9e]";
        }
    }

    .template_promotedResults {
        border: 1px solid #eaeaea;
        list-style: none;
        padding: 15px;
        margin-bottom: 15px;
    
        .title {
            margin-bottom: 15px;
        }
        
        li {
            display: flex;
            white-space: normal;
        }
    
        i {
            padding-right: 10px;
            padding-left: 10px;
        }
    }
    
    .template_defaultCard {
        .singleCard {
            border: 1px solid #eaeaea;
            min-height: 210px;
            display: flex;
            margin-bottom:1.5em;
            .previewImg {
                width: 20%;
                position: relative;
                background-repeat: no-repeat;
                background-size: contain;
                height: auto;
                background-position: top;
                margin: 0 0 0 1em;
            }
            .cardInfo {
                padding-left: 10px;
                padding-right: 10px;
            }
            .cardFileIcon {
                left: 10px;
                bottom: 8px;
                position: absolute;
            }
        }
        .singleCard:hover {
            border-color: #c8c8c8;
            cursor: pointer;
        }
    }
    
    .template_resultCount {
        padding-left: 10px;
        margin-bottom: 10px;
    }

    .datamkt-right {
        width: 80% !important;
        margin: 0 1em !important;
        overflow:hidden;
      }
      
      .datamkt-sub {
        margin: 1em !important;
        display: flex !important;
      } 

      .datamkt-icons {
        display: flex;
    }

      span.ms-ListItem-secondaryText {
        font-size: .9em;
        color: #666;
      }
      
      span.ms-ListItem-tertiaryText {
        display: Block;
        font-size: .8em;
        line-height: 24px;
        font-style: italic;
        text-align: right;
      }
      
}