@font-face {
    font-family: 'akzidenz_grotesk_roman';
    src: url('../font/akzidenz-grotesk-roman-webfont.woff2') format('woff2'),
         url('../font/akzidenz-grotesk-roman-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'akzidenz_grotesk_light';
    src: url('../font/akzidenz-grotesk-light-webfont.woff2') format('woff2'),
         url('../font/akzidenz-grotesk-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'akzidenz_grotesk_bold';
    src: url('../font/akzidenz-grotesk-bold-webfont.woff2') format('woff2'),
         url('../font/akzidenz-grotesk-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'akzidenz_grotesk_black';
    src: url('../font/akzidenz-grotesk-black-webfont.woff2') format('woff2'),
         url('../font/akzidenz-grotesk-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}