
  .svp-mtgbk-itemdiv {
    display:flex;
  }

  .svp-mtgbk-leftside {
    width:66%;
    align-items:center;
  }

  .svp-mtgbk-newwindowdiv {
    width:33%;
    align-items:center;
  }

  .svp-mtgbk-item {
    width:24%;
  }

  .svp-mtgbk-title {
    width: 60%;
    margin:0;
    display: inline;
  }

  .svp-mtgbk-status {
    width: 30%;
    margin:0;
    display: inline;
  }


  span.meetingbook-title {
    font-size: 1.4em;
    padding: .75em;
    display: inline-block;
}

i.svp-mtgbk-newwindow {
    font-size: 2.5em;
    color: #3f94d8;
    text-align:right;
}