.searchBox {

    position: relative;

    .errorMessage {
        margin-bottom: 10px;
    }

    *::-ms-clear {
        display: none;
    }

    .suggestionItem {
        padding: 10px;    
    }

    .searchFieldGroup {
        
        display: flex;
        position: relative;

        .searchTextField {
            width: 100%;
            border-right:32px solid rgba(108, 174, 84, 1);
            border-radius:0 .5em .5em 0;
        }

        .searchBtn {
            position: absolute;
            right: 0;

            i.ms-Button-icon, .icon-236 {
                color: white;
             }
             
        }

    }

    .suggestionPanel {
        position: absolute;
        width: 100%;
        box-sizing: border-box;
        z-index: 1;
        background-color: #ffffff;
        border-bottom: 1px solid #ccc;
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
        box-sizing: border-box;
    }

    .selected {
        color: #ffffff;
        background-color: '[theme:themeDarker, default:#0078d7]';
    }
}

.parentStackingCtx {
    position: relative;
    z-index: 1;
}