.universal__header--large {
    
    font-size: 1.5em;
    letter-spacing: 1px;
    font-weight: 600;
    border-bottom: 3px solid $teal;
    
}
.artist-general__title {

    padding: 0px;
    border-bottom: 3px solid $teal;

}