/*
body {
  font-family: $font-family-base;
  color: $text-color;
  overflow-y: auto !important;
  overflow-x: auto !important;
  font-size: 16px;
}


div#DeltaPlaceHolderMain {
  a {
      &:hover, &:link, &:active, &:visited {
        color: $links !important;
        font-family: $font-family-base !important;
        text-decoration:underline !important;
       }
    }


    ul.dropdown-menu li a {
      text-decoration:none !important;
    }
}
*/





/*
.dropdown {
  display: inline-flex;

    button {
            border: 1px solid black;
            font-size: 1em !important;
            padding: .3em .5em .3em .5em;
            margin: 0;
            text-align:left !important;


                &:hover {
                    background-color: #eee;
                    color: $black;
                }
 
        }


        .btn.btn-default.dropdown-toggle {
            flex-basis: 100%;
        }
}



span.caret {
    position:absolute;
    right:3% !important;
    top: 42%;
    margin-left: 0em !important;
    padding: 0px;
}
*/