@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.newsHorizontal {
  background-color: #f7f7f7;

    .wrapper{
      //border: 1px solid grey;
      min-height: 360px;
      height: 360px;
      width: 100%;
      background-color: #407fc7;
      display: inline-flex;
      margin-bottom: 0;
      padding-bottom: 0;
  }
  
  .imageArea {
    min-height: 360px;
    height: 360px;
    width: 100%;
    background-color: #407fc7;

  }
  
  .url {
    text-decoration: none;
  }

  .image {
    min-height: 360px;
    height: 360px;
    width: 100%;
    background-color: #407fc7;
  }

  .title {
    text-align:start;
    margin-left: 2em;
    margin-right: 2em;
    margin-top: -255px;
    text-align: center;
    font-size: 1.7em;
    font-weight: 800;
    color: white;
    text-shadow: none !important;
    letter-spacing: 1px;
  }

  .subTitle {
    text-align:start;
    margin-left: 3em;
    margin-right: 3em;
    text-align: center;
    color:white;
    line-height: 1.5em;
    max-height: 4.4em;
    overflow: hidden;
    margin-top: -1em;
    text-shadow: 1px 1px 5px black; 
    font-size:.97em !important;
  }

  .colStyle {
    background-color: '#EEF0F2';
  }
   
  .button {
    background-color: $ms-color-themePrimary;
    border-color: $ms-color-themePrimary;
    color: $ms-color-white;

    font-size: $ms-font-size-m;
    font-weight: $ms-font-weight-semibold;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    padding:5px 50px;
    margin-top: -1.2em;

    .label {
      font-weight: $ms-font-weight-semibold;
      font-size: $ms-font-size-m;
      height: 32px;
      line-height: 32px;
      margin: 0 4px;
      vertical-align: top;
      display: inline-block;
    }
  }
  
}