@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.verticalLayout {

    min-height: 35px;

    .refinerhead {
        font-size: 1.3em;
        padding:.5em;
        font-weight: bolder;
    }

    &__filterPanel {
        &__body {
            overflow: auto;
            
            &__headerIcon {
                text-align: right;
                margin-top: 5px;
                padding-left: 5px;
                padding-right: 10px;
            }

            &__removeAllFilters {
                padding-left: 25px;
                margin-top: 10px;
            }

            &__group {

                &__header {                    
                    display: flex;
                    align-items: center;  
                    margin-left: 1em;                  
                }

                button {
                    padding: 10px;
                }

                &__item {
                    padding-left: 15px;
                    padding-top: 10px;

                    &__checkboxers {
                        & * {
                            padding: 0 0 .25em 0;
                            color: #777 !important;
                        
                            i.ms-Checkbox-checkmark {
                                padding: .5em 0 0em 0;
                            }
                        }
                    }
                }

                &__divider {
                    border: .03em solid #777;
                    margin: 15px 0;
                }

                &__last_divider {
                    margin: 15px 0;
                }
            }

            :global .ms-Grid-row {
                margin: 0;
            }
        }
    }
}