//@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.reportHorizontal {

  .wrapper{
    border: 1px solid grey;
    max-width: 600px;
    height: 300px;
    display: inline-flex;
  }

  .url {
    text-decoration: none;
  }

  .image {
    max-height: 250px;
    max-width: 350px;
    width: 300px;
    height: 200px;
    margin-left: 15px;
    margin-top: 25px;
  }

  .title {
    height: 50px;
    align-content: flex-start;
    text-align:start;
    margin-left: 10px;
    margin-top: 25px;
    margin-right: 10px  
  }

  .description {
    height: 250px;
    align-content: flex-start;
    text-align:start;
    margin-left: 10px;
    margin-top: 25px;
    margin-right: 10px
  }

  .colStyle {
    background-color: '#EEF0F2';
  }
 

}