.Tile-Header-Interactable-Icons-Container {
   margin-left: auto;
   display: flex;
   flex-direction: row;

   .Tile-Header-Icon {
      font-size: .9rem;
      align-self: flex-end;
      padding-left: 10px;
      padding: 0;
      margin: 0;
      
      &:hover {
         cursor: pointer;
      }
   }

   .Tile-Header-Favorite-Icon {
      @extend .Tile-Header-Icon;
      margin-bottom: -10px;
   }

   .Tile-Header-Share-Icon {
      @extend .Tile-Header-Icon;
      margin-bottom: -10px;
   }

   .Tile-Header-Like-Icon {
      @extend .Tile-Header-Icon;
      margin-left: 8px;
   }
}  

.Tile-Content {
   display: flex;

   .Tile-Content-Thumbnail {
   margin-right: 25px;
   min-width: 200px;

      img {
         max-width: 100%;
         width: auto;
         height: auto;
         max-height: 140px;
      }

   }

   .Tile-Content-Info {
      flex: 1;
      font-size: .9rem;
      display: flex;
      flex-direction: column;

      .Tile-Content-Description {
         flex: 1;
      }

      .Tile-Content-Metatags {
         flex: 1;
         display: flex;
         flex-direction: row;
         flex-wrap: wrap;

         .Tile-MetaTag {
            padding: 2px 8px;
            background:#F5F5F5;
            width: auto;
            height: 20px;
            margin-right: 10px;
         }
      }
   }
}