.SharedStyle {
   cursor: pointer;
   margin-left: .1em;
}

.ItemSelected {
   @extend .SharedStyle;
   & * {
      color: #398bcc;
   }
}

.SharedStyleSmall {
   cursor: pointer;
}

.ItemSelectedSmall {
   @extend .SharedStyleSmall;
   & * {
      color: #398bcc;
      font-size: .8rem;
   }
}

.ItemUnselected {
   @extend .SharedStyleSmall;
   & * {
      color: #909090;
   }
}

.ItemUnselectedSmall {
   @extend .SharedStyle;
   & * {
      color: #909090;
      font-size: .8rem;
   }
}
