@font-face {
    font-family: 'proxima_novablack';
    src: url('../font/proximanova-black-webfont.woff2') format('woff2'),
         url('../font/proximanova-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_nova_rgbold';
    src: url('../font/proximanova-bold-webfont.woff2') format('woff2'),
         url('../font/proximanova-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_nova_rgbold_italic';
    src: url('../font/proximanova-boldit-webfont.woff2') format('woff2'),
         url('../font/proximanova-boldit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_novaextrabold';
    src: url('../font/proximanova-extrabold-webfont.woff2') format('woff2'),
         url('../font/proximanova-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_novalight';
    src: url('../font/proximanova-light-webfont.woff2') format('woff2'),
         url('../font/proximanova-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_novalight_italic';
    src: url('../font/proximanova-lightitalic-webfont.woff2') format('woff2'),
         url('../font/proximanova-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_novaregular_italic';
    src: url('../font/proximanova-regitalic-webfont.woff2') format('woff2'),
         url('../font/proximanova-regitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_nova_rgregular';
    src: url('../font/proximanova-regular-webfont.woff2') format('woff2'),
         url('../font/proximanova-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_novaregular_italic';
    src: url('../font/proximanova-regularitalic-webfont.woff2') format('woff2'),
         url('../font/proximanova-regularitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_novasemibold';
    src: url('../font/proximanova-semibold-webfont.woff2') format('woff2'),
         url('../font/proximanova-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_novasemibold_italic';
    src: url('../font/proximanova-semibolditalic-webfont.woff2') format('woff2'),
         url('../font/proximanova-semibolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'futura_md_btmedium';
    src: url('../font/futura_md_bt_medium-webfont.woff2') format('woff2'),
         url('../font/futura_md_bt_medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'futura_ltbold';
    src: url('../font/futuralt-bold-webfont.woff2') format('woff2'),
         url('../font/futuralt-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}