.discussionTitle
{
    color: rgb(10, 86, 121);
    font-size: 15px;
    float: left;
    font-weight: 500;
}
.bold
{
    font-weight: 600;
}

.linkButton
{
 font-size: 12px;
 color:darkblue;
}

.parentReply
{
    color:darkblue;
}
.Active
{
    color: darkred !important;
}
.inActive
{
    color:darkblue !important;
}