.discussionTitle {
    color:#398bcc;
    font-size:.9em;
    float: left;
    font-weight: 500;
}

.bold {
    font-weight: 600;
}

.linkButton {
 font-size: 12px;
 color:darkblue;
}

.parentReply {
    color:darkblue;
}

.Active {
    color: darkred !important;
}

.inActive {
    color:darkblue !important;
}

 .ms-Panel-content div[class^="row_"] div[class^="column_"] > div:nth-child(2) {
    font-size:.9em !important;
    font-weight:800;
 }