.CanvasZoneContainer:first-child {
  background-color: #e5e5e5;
}

html {
  overflow: overlay;
}

@font-face {
  font-family: 'open_sansregular';
  font-style: normal;
  font-weight: normal;
  src: local('open_sansregular'), url('fonts/opensans-regular-webfont.woff') format("woff");
  }


  @font-face {
    font-family: 'open_sanslight';
    font-style: normal;
    font-weight: normal;
    src: local('open_sanslight'), url('fonts/opensans-light-webfont.woff') format("woff");
    }


    @font-face {
      font-family: 'open_sansbold';
      font-style: normal;
      font-weight: normal;
      src: local('open_sansbold'), url('fonts/opensans-bold-webfont.woff') format("woff");
      }

@font-face {
  font-family: 'open_sansregular';
  font-style: normal;
  font-weight: normal;
  src: local('open_sansregular'), url('fonts/opensans-regular-webfont.woff') format("woff");
  }




$header-fontface: 'open_sansregular';

body, a {
  font-family:'open_sansregular' !important;
}

.CanvasZoneContainer:first-child {
  background-color: #e5e5e5;
}


[role="heading"] {
  font-family: $header-fontface;
}


div {
  font-family: $header-fontface;
}


.mainRow-43 {
  background: #f8f8f8;
}


div[class^="feedback_"]{
display: none !important;
}

div[class^="footerBar_"]{
display: none !important;
}


div[class^="searchBoxContainer_"]{
  display: none !important;
  }

div[class^="pageTitle_"]{
  div[class^="contentBox"]{
    display: none !important;
  }
}

div[class^="webPartHeader_"] span {
  font-size: .9em !important;;
}

  div[class^="webPartChrome_"]{
    padding: 1em;
    -webkit-box-shadow: 5px 5px 5px -7px rgba(102,102,102,1);
   -moz-box-shadow: 5px 5px 5px -7px rgba(102,102,102,1);
  box-shadow: 5px 5px 5px -7px rgba(102,102,102,1);
  border:1px solid #f6f6f6;
  background:white;
  }

span[class^="seeAllLinkMarginBottomMiddle_"]{
  display: none !important;
  }

span[class^="ms-Dropdown-caretDownWrapper"] i{
  display: none !important;
  }

  
span[class^="ms-Dropdown-caretDownWrapper"]{
  width: .7em;
  background-image: url("../extensions/sysco/images/blackcaret.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: .9em;  
}

div[class^="ControlZone"]{
  margin-top: 2px !important;
  margin-bottom: -2px !important;
  }