html {
  overflow: overlay;
}

.spAppAndPropertyPanelContainer {
  overflow-y: overlay;
  overflow-x: hidden;
}

body, a {
    font-family:'opensans-regular' !important;
}

body {
  overflow: visible;
}

.foothead {
  text-transform:uppercase;
  font-size:.85em;
}

.footeritem2 p, .footeritem2 p a, .footeritem5_second p, .footeritem5_second p a {
  font-size:.85em;
  color: #eee;
  line-height:1.2em;
  text-decoration:none;
}

.footeritem7 {
  color: white;
  padding: 1em;
 width: 40%;
  }


.footeritem5_second, .footeritem5_second p, .footeritem5_second p a {
    color: white;
    padding: 1em;
    width: 50%;
    text-align: right;
}

.footeritem5_first {
  color: white;
    padding: 1em;
    width: 50%;
  text-align: left;

    img {
      width:20%;
     }
}


.blurb {
  color: white;
  font-size:.78em;
  line-height:1.5em;
}

hr {
  color:#ccc;
}

  .footeritem2 {
    color: white;
    padding: 1em;
  width: 13%;
  }

  .footeritem1 {
    color: white;
    padding: 1em;
   width: 8%;

      img {
        width:45%;
      }
  }

  .foot {
    background-color: #2b2f3f;
    width: 1268px;
  }

  .insideFoot {
    display:flex;
    justify-content:center;
    padding:1em;
  }

  .footContainer {
    display: flex;
    width: 100%;
    background: #2b2f3f;
    justify-content: center;
    position: absolute;
  }

  div[class^="footContainer_"]{
    display: flex;
    width: 100%;
    background: #2b2f3f;
    justify-content: center;
    position: absolute;
    }

/*
    div[class^="featuredReports_"] .ms-Dropdown-title {border-top: none;border-bottom: 2px solid black;border-left: none;border-right: none;}

    .ms-Dropdown-title {border-top: none;border-bottom: 2px solid black;border-left: none;border-right: none;}

    .ms-Grid-col {
      border: 1px solid green;
  }
  */