html {
  overflow: overlay;
}

.spAppAndPropertyPanelContainer {
  overflow-y: overlay;
  overflow-x: hidden;
}

body, a {
    font-family:'opensans-regular' !important;
}

body {
  overflow: visible;
}

.foothead {
  text-transform:uppercase;
  font-size:.85em;
}

.footeritem2 p, .footeritem2 p a, .footeritem5_second p, .footeritem5_second p a {
  font-size:.9em;
  color: #eee;
  line-height:1.2em;
  text-decoration:none;
}

.footeritem7 {
  color: white;
  padding: 1em;
 width: 40%;
  }


.footeritem5_second {
  color: white;
    padding: 1.5em 1.75em .5em 0;
    font-size: .9em;
    font-style: italic;
    width: 80%;
    text-align:right;
    display:-webkit-box;
    -webkit-box-pack: end;
    float:right;
}


.footeritem5_second p, .footeritem5_second p a {
    color: white;
    padding: 0 .5em;
}

.footeritem5_first {
    color: white;
    padding: 1em 1.5em;
    text-align: left;
    font-size: .75em;
    font-style: italic;
    width: 20%;

    img {
      width: 7em;
  }
}


.blurb {
  color: white;
  font-size:.78em;
  line-height:1.5em;
}

.footContainer hr {
  border: 1px solid #aaa;
    width:95vw;
    text-align:center;
    margin-top: -.1em;
}

  .footeritem2 {
    color: white;
    padding: 1em;
  width: 13%;
  }

  .footeritem1 {
    color: white;
    padding: 1em;
   width: 8%;
   text-align:center;

      img {
          width:2.7em;
          padding-bottom:1em;
          padding-top: .2em;
          opacity: 0.7;
          filter: alpha(opacity=70); /* For IE8 and earlier */
      }
  }

  .foot {
    background-color: #2b2f3f;
    max-width: 1268px;
  }

  .insideFoot {
    display:flex;
    justify-content:center;
    width:100%;
  }


  div[class^="footContainer_"], .footContainer{
    display: flex;
    background: #2b2f3f;
    justify-content: center;
    display: flex; 
    width: 100%;
    height: 50px;
    }

    