html {
  overflow: overlay;
}

.spAppAndPropertyPanelContainer {
  overflow-y: overlay;
  overflow-x: hidden;
}

body, a {
    font-family:'opensans-regular' !important;
}

.white{
  color: white;
  padding: 1em;
  background-color: #333;
  position: absolute;
  width: 100%;
  }

  .foot {
    border:none;
  }