
body, a {
    font-family:'opensans-regular' !important;
}

.firstclass{
    display: inline-block;
    color: navy;
}


.white{
    color: white;
    padding: 2em;
  }

  .foot{
    height: 7em;
  }
  