.CanvasZoneContainer:first-child {
  background-color: #e5e5e5;
}

html {
  overflow: overlay;
}

@font-face {
  font-family: 'open_sansregular';
  font-style: normal;
  font-weight: normal;
  src: local('open_sansregular'), url('fonts/opensans-regular-webfont.woff') format("woff");
  }


  @font-face {
    font-family: 'open_sanslight';
    font-style: normal;
    font-weight: normal;
    src: local('open_sanslight'), url('fonts/opensans-light-webfont.woff') format("woff");
    }


    @font-face {
      font-family: 'open_sansbold';
      font-style: normal;
      font-weight: normal;
      src: local('open_sansbold'), url('fonts/opensans-bold-webfont.woff') format("woff");
      }

@font-face {
  font-family: 'open_sansregular';
  font-style: normal;
  font-weight: normal;
  src: local('open_sansregular'), url('fonts/opensans-regular-webfont.woff') format("woff");
  }




$header-fontface: 'open_sansregular';

body, a {
  font-family:'open_sansregular' !important;
}

.CanvasZoneContainer:first-child {
  background-color: #e5e5e5;
}


[role="heading"] {
  font-family: $header-fontface;
}


div {
  font-family: $header-fontface;
}


.mainRow-43 {
  background: #f8f8f8;
}


div[class^="feedback_"]{
display: none !important;
}
div[class^="footerBar_"]{
display: none !important;
}


div[class^="searchBoxContainer_"]{
  display: none !important;
  }

div[class^="pageTitle_"]{
  div[class^="contentBox"]{
    min-height:auto;
    padding-top: 12px !important;
  }
}


div[class^="featuredReports_"] .ms-Dropdown-title {border-top: none;border-bottom: 2px solid black;border-left: none;border-right: none;}