@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.featuredReports {
  border:1px solid #eee;
  -webkit-box-shadow: 5px 5px 5px -7px rgba(102,102,102,1);
  -moz-box-shadow: 5px 5px 5px -7px rgba(102,102,102,1);
 box-shadow: 5px 5px 5px -7px rgba(102,102,102,1);


  .container {
    margin: 0px auto;
  }

  .row {
    @include ms-Grid-row;
  }

  .titleContainer {
    width: 97%;
    padding-bottom: .6em;
    padding:1em;
  }
  
  .title {
    font-size: 1.6em;
    display: inline;
    margin-left: .0em; 
    padding:.5em;
  }

  .grid {
    @include ms-Grid;
    padding: 0 !important;
  }

  .column2 {
    @include ms-Grid-col;
    @include ms-sm2;
    @include ms-md2;
    @include ms-xl2;
    @include ms-lg2;
  }

  .column4 {
    @include ms-Grid-col;
    @include ms-sm4;
    @include ms-md4;
    @include ms-xl4;
    @include ms-lg4;
  }

  .column12 {
    @include ms-Grid-col;
    @include ms-sm12;
    @include ms-md12;
    @include ms-xl12;
    @include ms-lg12;
  }
}