.ms-Dropdown-title {
    border-top: none;
    border-bottom: 1px solid black;
    border-left: none;
    border-right: none;
    padding-left: .1em;
    font-weight: 600;
    background-color:#e9f3fc;
}

span.ms-Dropdown-caretDownWrapper i {
    display: none;
}

span.ms-Dropdown-caretDownWrapper {
    width: .7em;
    background-image: url("https://bigapplesharepoint.sharepoint.com/sites/SlalomViewport/SiteAssets/blackcaret.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: .9em;
}