.ms-Dropdown-title {
    border-top: none;
    border-bottom: 1px solid black;
    border-left: none;
    border-right: none;
    padding-left: .1em;
    font-weight: 600;
    background-color:#e9f3fc;
}



.ms-DetailsHeader-cellName {
    font-weight: 600;
}


.ms-DetailsRow {
    padding: .5em 0em;
}

.ms-DetailsList div {
    background:white;
  }