.ms-Dropdown-title {
    border-top: none;
    border-bottom: 1px solid black;
    border-left: none;
    border-right: none;
    padding-left: .1em;
    font-weight: 600;
    background-color:#e9f3fc;
}


.ms-DetailsHeader-cellName {
    font-weight: 600;
}


.ms-DetailsRow {
    padding: .5em 0em;
}

.ms-DetailsList div {
    background:white;
  }


div[class^="featuredReportsList_"] div[class^="row_"]:nth-child(2) div[class^="column12_"] {
    text-align:right;
}

div[class^="featuredReportsList_"] div[class^="row_"]:nth-child(2) div[class^="column12_"] button {
    color:#008cd3;
}

button {
    background:white;
  }

  @media only screen and (max-width: 768px) {
    div[class^="filterarea_"] {
        display:none;
    }
}