div[class^="reportMyFavList_"] { 
    padding-top: 1em;
    border: 1px solid #f6f6f6;
    background-color: rgba(255, 255, 255, 1);
    -webkit-box-shadow: 5px 5px 5px -7px rgba(102,102,102,1);
   -moz-box-shadow: 5px 5px 5px -7px rgba(102,102,102,1);
    box-shadow: 5px 5px 5px -7px rgba(102,102,102,1);
}

