@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.MyFavHome {

  .wrapper{
    border: 1px solid grey;
  }

  .title {
    //align-content: flex-start;
    //text-align:start;
    //margin-left: 20px;
    text-decoration: black !important;
    font-weight: bold !important;
  }

  .description {
    align-content: flex-start;
    text-align:start;
    //margin-left: 20px;
    //margin-top: -10px;
  }

  .socialIcons {
    margin-left: -5px;
    margin-top: -10px;
  }


}