@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.MyFavAllWithImage {

  .visualizationTechnologyIcon {
    height: 24px;
    display: inline-block;
    vertical-align: middle;
  }

  .itemLink {
    text-decoration: none;
    display: inline-block;
  }

  .itemTitle {
    font-weight: 700;
    font-size: larger;
  }

  .featuredCard {
    background-color: rgba(173, 216, 230, 0.2);
  }

  .likeFaveButtons {
    //position: absolute;
    //right: 0.5em;
    //bottom: -0.25em;
   // margin: 0 0.1em;
   margin: 0 0em 0 0;
  }

  .linkItem {
    cursor: pointer;
  }

  .likeFavContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: auto;
    height: auto;
    box-sizing: border-box;
    align-items: center;
  }

  li.resultItem {
    display: block;

    .imageContainer {
      height: 100px;
      width: 78px;
      display: flex;
      justify-content: center;
      flex-direction: column;

      > img {
        max-width: 78px;
        max-height: 48px;
        margin: auto 0;
        width: auto;
        height: auto;
      }
    }
    
    .ms-dialogMainOverride {
      width: 400px;
      max-width: 1000px;
    }
  }

}