@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.MyFavHome {
  border-bottom: .5px solid #e4e5e6;

  
  .wrapper{
   // -webkit-box-shadow: 1px 0px 1px 1px rgba(204,204,204,1);
//-moz-box-shadow: 1px 0px 1px 1px rgba(204,204,204,1);
//box-shadow: 1px 0px 1px 1px rgba(204,204,204,1);

  }

  .title {
    //align-content: flex-start;
    //text-align:start;
    //margin-left: 20px;
    text-decoration: black !important;
    font-weight: bold !important;
  }


  .FavReportTitle, .FavReportTitle a {
    font-weight: 400 !important;
    color: #444 !important;
    font-size: 1.05em !important;
    text-decoration:none;
  }

  .description {
    align-content: flex-start;
    text-align:start;
    font-size: .95em !important;
    color: #666 !important;
  }

  .socialIcons, .socialIcons i {
    //margin-left: -5px;
    //margin-top: -10px;
    color: #398bcc !important;
    font-size: .9em !important;

       > .ms-Button {
         height:1.5em;
       }

  }

  .socialIcons div {
    color: #398bcc !important;
  }

  
span.socialIcons > button:not(:first-child) {
  margin-left: 1em;
}

.wrapper > div:first-child {
  padding:1em .3em 0 .3em !important;
}


.wrapper > div:nth-child(2) {
    padding:0 .3em .3em .3em !important;
    margin-top: -.5em;

}


.wrapper > div:nth-child(3) {
    padding:.3em .3em .5em .2em !important;
    margin-top: -.5em;

}

.ms-Button-textContainer, .ms-Button-textContainer a {
  font-size: .9em !important;
  text-indent: -.2em;
}



}
