@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.MyFavAllWithImage {
  list-style:none;

  .visualizationTechnologyIcon {
    height: 24px;
    display: inline-block;
    vertical-align: middle;
  }

  
  .itemLink {
    text-decoration: none;
    display: inline-block;
  }


  .featuredCard {
    background-color: rgba(255, 255, 255, 1);
  }

  .linkItem {
    cursor: pointer;
  }

  .likeFavContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: auto;
    height: auto;
    box-sizing: border-box;
    align-items: center;
    font-size:.9em;
  }


  .ms-dialogMainOverride {
    width: 400px;
    max-width: 1000px;
  }


.ms-ListItem--document {
  list-style: none;
}

.tileClass {
  border: 1px solid #ccc;
  padding: .5em;
  margin: 0 1em 1em 0;
  width: 30%;
  }
  
  .datamktSub {
  display: flex;
  }
  
  .previewImg {
  display: flex;
  width: 40%;
  }
  
  .datamktLeft, .datamktRight {
    border:none;
  }

}


.itemTitle, .itemTitle a {
  font-weight: 400;
  font-size: 1.3em;
  color: #666;
  margin: .5em 1em .25em 1em;
  display:flex;  
  line-height:24px;
  height:48px;
  overflow:hidden;
  align-items:center;
  text-decoration:none;
}

.likeFaveButtons {
 margin: 0 0em 0 0;
}






