@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.MyFavAllWithImage {
  list-style:none;

  .tileClass {
    border: 1px solid #ccc;
    padding: 0;
    margin: 0 1em 1em 0;
    width: 30%;
    }
    

  .visualizationTechnologyIcon {
    height: 24px;
    display: inline-block;
    vertical-align: middle;
  }

  
  .itemLink {
    text-decoration: none;
    display: inline-block;
  }

  
  .featuredCard {
    background-color: rgba(255, 255, 255, 1);
  }

  .linkItem {
    cursor: pointer;
  }

  .likeFavContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: auto;
    height: auto;
    box-sizing: border-box;
    align-items: center;
    font-size:.9em;
  }


  .ms-dialogMainOverride {
    width: 400px;
    max-width: 1000px;
  }


.ms-ListItem--document {
  list-style: none;
}


  .datamktSub {
    margin: .5em 1em 0 1em !important;
    display: flex !important;
    }

  
  .datamktRight {
    width: 80% !important;
    margin: 0 !important;
    overflow:hidden;
    height:75px;
  }



.previewImg {
  width: 15%;
  position: relative;
  background-repeat: no-repeat;
  background-size: contain;
  height: auto;
  background-position: top;
  margin: 0 1em 0 0;
}

}


.itemTitle, .itemTitle a {
  font-weight: 400;
  font-size: 1.4em;
  color: #666;
  margin: .5em .75em .25em;
  display:flex;  
  line-height:24px;
  height:48px;
  overflow:hidden;
  align-items:center;
  text-decoration:none;
}

.likeFaveButtons {
 margin: 0 0em 0 0;
}


.ControlZone {
  margin: 0 0 1em 0em !important;
}

.ms-Button-flexContainer {
  font-size: .95em;
  color: #398bcc;
  font-weight: 800;
}

span.ms-ListItem-secondaryText {
  font-size: .95em;
  color: #666;
}

.ms-Button-label {
  font-size:.9em;
  color:#398bcc;
  font-weight:600;
  margin-left:0;
}

