@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';




.MyFavAllWithImage {

  .visualizationTechnologyIcon {
    height: 24px;
    display: inline-block;
    vertical-align: middle;
  }

  
  .itemLink {
    text-decoration: none;
    display: inline-block;
  }


  .featuredCard {
    background-color: rgba(255, 255, 255, 1);
  }

  .linkItem {
    cursor: pointer;
  }

  .likeFavContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: auto;
    height: auto;
    box-sizing: border-box;
    align-items: center;
    font-size:.9em;
  }


  .ms-dialogMainOverride {
    width: 400px;
    max-width: 1000px;
  }

}


li.resultItem {
  display: block;
  list-style: none;
}

li.ms-ListItem.ms-ListItem--document {
  list-style: none;
}


.itemTitle, .itemTitle a {
  font-weight: 400;
  font-size: 1.3em;
  color: #666;
  margin: .5em 1em .25em 1em;
  display:flex;  
  line-height:24px;
  height:48px;
  overflow:hidden;
  align-items:center;
  text-decoration:none;
}

.likeFaveButtons {
 margin: 0 0em 0 0;
}


.tile-class {
  border: 1px solid #ccc;
  padding: .5em;
  margin: 0 1em 1em 0;
  width: 30%;
}


.datamkt-sub {
  display: flex;
}

.previewImg.datamkt-left {
  display: flex;
  width: 40%;
}



.container {
  border: 1px solid pink;
.reportMyFavList {
  border: 1px solid green;
  .rowHeader {
    border: 1px solid turquoise;
    .col-md-12 {

    }
  }
  li.resultItem {
    border: 1px solid gold;
    .tile-class{
      border: 1px solid gray;
      .singleCard {
        border: 1px solid brown;
        li.ms-ListItem {
          border: 1px solid magenta;
          .cardInfoFeaturedCard {
            border: 1px solid teal;
            span.ms-ListItem-primaryText {
              
            }
            .datamkt-sub {
              border: 1px solid purple;
              .previewImg.datamkt-left {
                border: 1px solid lightblue;
              }
              .datamkt-right {
                border: 1px solid orange;
                span.ms-ListItem-secondaryText {

                }
              }
            }
          }
        }
      }
    }
  }
}
}
